@page "/"

@inject IHttpService HttpService

@using ThreeDiamonds.Service
@using ThreeDiamonds.Models
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using System
@using System.Globalization

<PageTitle>Three Diamonds</PageTitle>

<div style="text-align: center;">
    @if (currentPriceObject != null && currentBag != 0)
    {
        <MudGrid>
            <MudItem xs="12">
                <MudText Class="bitcoin">
                    m₿ @(currentBag / Math.Pow(10, 8) * Math.Pow(10, 3))
                </MudText>
            </MudItem>
        </MudGrid>
        <MudGrid>
            <MudItem xs="12">
                <MudText Class="gold">
                    XAU @(
                        Math.Round(
                            ((currentBag / Math.Pow(10, 8)) * ConvertStringToDecimal(currentPriceObject["xau"]?.ToString())),
                            2
                        )
                    )
                </MudText>
            </MudItem>
        </MudGrid>
        <MudDivider></MudDivider>
        @foreach (var kvp in currencyDictionary)
        {
            @if (currentPriceObject[kvp.Key.ToLower()] != null)
            {
                <MudGrid>
                    <MudItem xs="12">
                        @if(kvp.Value.Symbol != null)
                        {
                            <MudText>@(kvp.Value.Rank) | @(kvp.Value.Symbol)@(((currentBag / Math.Pow(10, 8)) * ConvertStringToDecimal(currentPriceObject[kvp.Key.ToLower()]?.ToString())).ToString("N2")) | @(kvp.Value.BankNoteName)
                            </MudText>
                        }
                        else
                        {
                            <MudText>@(kvp.Value.Rank) | @(
                                ToCurrency(
                                    ((currentBag / Math.Pow(10, 8)) * ConvertStringToDecimal(currentPriceObject[kvp.Key.ToLower()]?.ToString())), kvp.Value.CurrencyCode
                                )
                                ) | @(kvp.Value.BankNoteName)
                            </MudText>
                        }
                    </MudItem>
                </MudGrid>
            }
        }
    }
</div>

<MudOverlay Visible="showLoadingOverlay" DarkBackground>
    <MudProgressCircular Color="Color.Default" Indeterminate />
</MudOverlay>

@code {
    private bool showLoadingOverlay { get; set; } = false;
    private long currentBag { get; set; } = 0;
    private JObject? currentPriceObject { get; set; } = null;
    private Dictionary<string, CurrencyLocalization> currencyDictionary = CurrencyLocalizationProvider.GetDictionary();
    private DateTime startDate = new DateTime(2024, 7, 12);

    protected override async Task OnInitializedAsync()
    {
        showLoadingOverlay = true;
        await FetchBTCBag();
        await FetchPrices();
        showLoadingOverlay = false;
    }

    private async Task FetchPrices()
    {
        HttpResponseMessage response = await
        HttpService.HttpGetResponseMessage<HttpResponseMessage>($"https://api.coingecko.com/api/v3/coins/bitcoin");
        if (response.IsSuccessStatusCode)
        {
            string content = await response.Content.ReadAsStringAsync();
            JObject? JObjectResponse = JObject.Parse(content);
            if (JObjectResponse != null)
            {
                JToken? JTokenPrices = JObjectResponse["market_data"]?["current_price"];
                if (JTokenPrices != null)
                {
                    currentPriceObject = (JObject)JTokenPrices;
                }
            }
        }
    }

    private async Task FetchBTCBag()
    {
        HttpResponseMessage response = await
        HttpService.HttpGetResponseMessage<HttpResponseMessage>($"https://blockchain.info/q/addressbalance/bc1p2240n8mr63spxgwlmnstc9rncfpqfjhv0nvd92rklrwetz2vsrssnthzrw");
        if (response.IsSuccessStatusCode)
        {
            string content = await response.Content.ReadAsStringAsync();
            long number;
            bool success = long.TryParse(content, out number);

            if (success)
            {
                currentBag = number;
            }
            else
            {
                currentBag = -1;
            }
        }
    }

    private string ToCurrency(double number, string currencyCode)
    {
        try
        {
            // Create a CultureInfo object for the specified currency code
            var culture = new CultureInfo("en-US");
            culture.NumberFormat.CurrencySymbol = new RegionInfo(currencyCode).CurrencySymbol;

            // Format the number as currency
            return number.ToString("C", culture);
        }
        catch (CultureNotFoundException)
        {
            // Handle invalid currency code
            return "Invalid currency code";
        }
    }

    private double ConvertStringToDecimal(string? numberString)
    {
        if (numberString == null) return -1;
        double number;
        bool success = double.TryParse(numberString, out number);

        if (success)
        {
            return number;
        }

        return -1;
    }

    private int GetDaysSince()
    {
        DateTime endDate = DateTime.Now;
        TimeSpan difference = endDate - startDate;
        int days = difference.Days;
        return days;
    }

    private DateTime GetDateFromNumberOfDays(int days)
    {
        DateTime newDate = startDate.AddDays(days);
        return newDate;
    }
}